<div id="main">
  <app-header></app-header>
  <div id="container">
    <div id="cards">
      <mat-card class="example-card">
        <mat-card-content class="card-content" routerLink="./about">
          <img mat-card-xl-image src="../assets/images/about.png" alt="icon-1">
          <h4>About</h4>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card" routerLink="./experience">
        <mat-card-content class="card-content">
          <img mat-card-xl-image src="../assets/images/experience.jpeg" alt="icon-1">
          <h4>Experience</h4>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-content class="card-content" routerLink="./projects">
          <img mat-card-xl-image src="../assets/images/projects.jpeg" alt="icon-1">
          <h4>Projects</h4>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-content class="card-content" routerLink="./contact">
          <img mat-card-xl-image src="../assets/images/contact.jpeg" alt="icon-1">
          <h4>Contact</h4>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
